.Autor_Name {
  font-weight: 500;
  margin-bottom: 15px;
}

.Creation_Date {
  color: darkgray;
  margin-bottom: 15px;
}

.Overview_Text > a {
  cursor: pointer;
  color: darkorange;
}

.Review_Container:not(:last-child){
  margin-bottom: 30px;
}