.MoviePosterContainer {
  margin-bottom: 20px;
}
.MoviePoster {
  width: 240px;
}

.MovieTitle {
  color: darkorange;
  font-weight: 500;
  width: 200px;
  overflow-wrap: normal;
}

.MovieInfoContainer {
  padding-left: 20px;
  padding-right: 20px;
}

.MovieDate {
  color: dimgray;
}
